<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>


  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton"
                   type="PongCore.PongManager, PongCore"
                   objectUri="manager.rem" />
      </service>

      
      <channels>
        <channel ref="http" port="10000">
         <serverProviders>
            <formatter ref="binary" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>