<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <!-- URL attrib is mandatory for CAO.-->
      <client displayName="MathClient" url="http://localhost:10000">
        <activated type="MathLibrary.SimpleMath, MathLibrary" />
      </client>
      <channels>
        <channel ref ="http" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>