<configuration>
  <system.runtime.remoting>
    <application>

		<!-- client activated -->                   
      <client displayName="MathClient" url="tcp://localhost:10000">
        <activated type="MathLibrary.SimpleMath, MathLibrary"/>
      </client>
      <channels>
		<channel ref="tcp" port="0">
			<serverProviders> 
				<formatter ref="binary" typeFilterLevel="Full" />
			</serverProviders>
			<clientProviders> 
				<formatter ref="binary" />
			</clientProviders>
		</channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
