<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <!-- Objects are client activated -->
        <activated type="MathLibrary.SimpleMath, MathLibrary" />
      </service>
      <channels>
        <channel port="10000" ref = "http">
          <!-- Magic happens here because SOAP formatter does not
          serialize generic types by default -->
          <serverProviders>
            <formatter ref="binary" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>